img {
    display: block;
    margin: 0 auto;
    max-width: 2500px;
    height: 250px;
  }

nav{
    text-align: center;
}

:root {
 
  --primary-color: #258bd3   ;
  --secondary-color: #7fd2e0 ;
  --accent1-color: #51dd5d;
  --accent2-color: white;

  --heading-font: "Oswald", sans-serif, "Playfair Display";
  --paragraph-font: Quicksand, Barlow, sans-serif;
}

